<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= bootstrap_form_with(model: @user) do |form| %>
  <%= form.text_field :name %>
  <%= form.email_field :email %>
  <%= form.password_field :password %>
  <%= form.password_field :password_confirmation %>
  <%= form.primary %>
<% end%>
